@import 'models/var';
@import 'models/fonts';
@import 'models/mixins';

@import 'components/index.scss';
@import 'components/header.scss';
@import 'components/footer.scss';


* {
    padding: 0;
    margin: 0;
}

body {
    background-color: $primary;
}

h1 {
    font-family: 'Lora';
    color: $accent;
}

a {
    color: $accent;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 600;

}

h2, h3, h4, h5, h6 {
    font-size: 3rem;
    font-family: 'Syncopate';
    font-weight: 200;
    color: $accent;
}
