@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital@0;1&display=swap');

@import 'models/var';
@import 'models/fonts';
@import 'models/mixins';

@import 'components/index.scss';
@import 'components/header.scss';
@import 'components/footer.scss';
@import 'components/skills.scss';

@import 'models/responsive';


// sass src/sass/style.scss:public/build/bundle.css --watch

* {
    padding: 0;
    margin: 0;
}

section {
    @include center;
}

body {
    background-color: $primary;
    overflow-x: hidden;
}

h1 {
    font-family: 'Syncopate';
    color: $accent;
}

a {
    color: $accent;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 600;

}

h2, h4, h5, h6{
    font-size: 2rem;
    font-family: 'Poppins';
    color: $accent;
}

h3  {
    font-size: 3rem;
    font-family: 'STIX Two Text', serif;
    color: $accent;

}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

html {
    scroll-behavior: smooth;
}   