@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;

}

@mixin card-image($path, $coord-x, $coord-y) {
    background-image: url($path);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: $coord-x $coord-y;
    height: 60px;
    width: 100%;

}