///////////////////////
// Header responsive //
///////////////////////
@media screen and (min-width: 600px) {
    
    nav {

        .nav__menu {

            .nav__list {
                display: flex;
                transition: .5s;
                
            }
    
        }

    }

    .uil-bars {
        transition: .5s;
        display: none;
    }

}

//////////////////////////////
// First section responsive //
//////////////////////////////

@media screen and (min-width: 600px) {

    .section__1 {

        .text__container {
            h2 {
                text-align: start;
            }   
    
            p {
                text-align: start;
            }
    
            button {
                width: 200px;
                height: 100px;
    
            }
    
        }

        .main__container {

            img {
                width: 558px;
                height: 561px;
        
            }

        }

    }

}

@media screen and (min-width: 600px) {
    .section__2 {

        .main__second {

            img {
                min-width: none;
                min-height: none;

            }

        }

    }
    
}

@media screen and (max-width: 1140px) {
    .section__2 {
        
        .main__second {
            flex-direction: column;

            .para__container {

                p {
                    text-align: center;
                    

                }

                margin-bottom: 30px;

            }

        }

        .title__container {
            margin-bottom: 0;

        }

    }
}

@media screen and (min-width: 1180px) {

    .section__1 {
        .main__container {
            justify-content: space-around;
            flex-direction: row;
    
            .text__container {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;

                h2 {
                    text-align: start;
                }   
        
                p {
                    text-align: start;
                }

                button {
                    width: 150px;
                    height: 70px;
                    font-size: 1.5rem;

                }
        
            }

        }

    }

}

@media screen and (min-width: 1340px) {
    .section__1 {
        
        .main__container {

            .text__container {

                button {
                    width: 180px;
                    height: 70px;
                    font-size: 2rem;

                }
        
            }

        }

    }
}

@media screen and (max-width: 1305px) {

    .section__3 {
        .grid {
            grid-template-columns: 1fr;
        }

    }

}