///////////////////////
// Header responsive //
///////////////////////
@media screen and (min-width: 600px) {
    
    nav {

        .nav__menu {

            .nav__list {
                display: flex;
                transition: .5s;
                
            }
    
        }

    }

    .uil-bars {
        transition: .5s;
        display: none;
    }

}

//////////////////////////////
// First section responsive //
//////////////////////////////

@media screen and (min-width: 600px) {

    .section__1 {

        .text__container {
            h2 {
                text-align: start;
            }   
    
            p {
                text-align: start;
            }
    
            button {
                width: 200px;
                height: 100px;
    
            }
    
        }

        .main__container {

            img {
                width: 558px;
                height: 561px;
        
            }

        }

    }

}

@media screen and (min-width: 600px) {
    .section__2 {

        .main__second {

            img {
                min-width: none;
                min-height: none;

            }

        }

    }
    
}

@media screen and (max-width: 1140px) {
    .section__2 {
        
        .main__second {
            flex-direction: column;

            .para__container {

                p {
                    text-align: center;
                    

                }

                margin-bottom: 30px;

            }

        }

        .title__container {
            margin-bottom: 0;

        }

    }
}

@media screen and (min-width: 1180px) {

    .section__1 {
        .main__container {
            justify-content: space-around;
            flex-direction: row;
    
            .text__container {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;

                h2 {
                    text-align: start;
                }   
        
                p {
                    text-align: start;
                }

                button {
                    width: 150px;
                    height: 70px;
                    font-size: 1.5rem;

                }
        
            }

        }

    }

}

@media screen and (min-width: 1340px) {
    .section__1 {
        
        .main__container {

            .text__container {

                button {
                    width: 180px;
                    height: 70px;
                    font-size: 2rem;

                }
        
            }

        }

    }
}

@media screen and (max-width: 1305px) {

    .section__3 {
        .grid {
            grid-template-columns: 1fr;
        }

    }

}

@media screen and (max-width: 470px) {
    .section__3 {

        .grid {
            gap: 1.5em;

            .grid__item {
                width: 320px;
                height: 160px;

                p {
                    display: none;
                }

                a {
                    text-decoration: underline;
                }

                &:hover {
                    transform: translateY(-5px);
                    box-shadow: 0 15px 15px rgba(0, 0, 0, .20);
                    transition: .2s;

                }

            }

        }

    }
}

@media screen and (max-width: 1290px) {
    
    .section__4 {
        padding-bottom: 20px;
        div {
            .lang__container {
                max-width: 95%;
                
                div {

                    h6 {
                        font-size: 2rem;

                    }

                    p {
                        font-size: 1rem;

                    }

                }

            }
        }
    }

}

@media screen and (max-width: 750px) {
    
    .section__4 {
        div {
            .lang__container {
                min-width: 90%;

            }
        }
    }

}

@media screen and (max-width: 710px) {
    
    .section__4 {
        div {
            .lang__container {

                img {
                    min-width: auto;
                }
                
                div {
                    margin-top: 4%;
                    min-width: auto;

                    h6 {
                        font-size: 1.5rem;

                    }
                    

                }

            }
        }
    }

}

@media screen and (max-width: 615px) {
    
    .section__4 {
        div {
            .lang__container {
                min-width: 90%;
                
                div {
                    margin-top: 4%;

                    h6 {
                        font-size: 1.5rem;

                    }

                }

            }
        }
    }

}

@media screen and (max-width: 410px) {
    
    .section__4 {
        padding-bottom: 20px;
        div {
            .lang__container {
                max-width: 95%;
                
                div {

                    h6 {
                        font-size: 1rem;

                        span {
                            font-size: 0.8rem;
                        }

                    }

                    p {
 
                        span {
                            display: none;
                        }
 
                    }

                }

            }
 
        }
 
    }

}

@media screen and (max-width: 1410px) {
    
    .section__2c {

        .main__wrapper {

            .grid__wrapper {

                .grid {

                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

                }
            }

        }
    }

}

@media screen and (max-width: 1200px) {
    
    .section__2c {

        .main__wrapper {

            .grid__wrapper {

                .grid {

                    grid-template-columns: 1fr 1fr 1fr 1fr;

                }
            }

        }
    }

}

@media screen and (max-width: 1000px) {
    
    .section__2c {

        .main__wrapper {

            .grid__wrapper {

                .grid {

                    grid-template-columns: 1fr 1fr 1fr;

                }
            }

        }
    }

}

@media screen and (max-width: 750px) {
    
    .section__2c {

        .main__wrapper {

            .grid__wrapper {

                .grid {

                    grid-template-columns: 1fr 1fr;

                }
            }

        }
    }

}

@media screen and (max-width: 530px) {
    
    .section__2c {

        .main__wrapper {

            .title__wrapper {
                margin-bottom: 0;

                .title__container {

                    h2 {
                        font-size: 3rem;
                    }

                    p {
                        font-size: 1.5rem;
                    }

                }
                
            }


            .grid__wrapper {

                .grid {

                    grid-template-columns: 1fr;

                }
            }

        }
    }

}

@media screen and (max-width: 1330px) {
    
    .section__1c {

        .main__wrapper {

            .grid {

                grid-template-columns: 1fr 1fr 1fr;

            }

        }
    }

}

@media screen and (max-width: 1040px) {
    
    .section__1c {

        .main__wrapper {

            .title__wrapper {

                .title__container {

                    h2 {
                        font-size: 3rem;
                    }

                    p {
                        font-size: 1rem;
                    }

                }
                
            }

            .grid {

                grid-template-columns: 1fr 1fr;

            }

        }
    }

}

@media screen and (max-width: 666px) {
    
    .section__1c {

        .main__wrapper {

            .title__wrapper {
                margin-top: 15px;
                margin-bottom: 15px;
                margin-left: 15px;
                margin-right: 15px;

                .title__container {
                    height: 100px;
                    margin-left: 15px;
                    margin-right: 15px;
                    h2 {
                        font-size: 2rem;
                    }

                    p {
                        font-size: 1rem;
                    }

                }
                
            }

            .grid {

                grid-template-columns: 1fr;

            }

        }
    }

}