header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 968px;

        h2 {
            margin-left: 20px;

        }

        .uil-bars {

            font-size: 2rem;
            transition: .5s;

        }

        .nav__menu {
            display: flex;
            flex-direction: row;
            margin-right: 15px;

            ul {
                display: none;
                flex-direction: row;
                transition: .5s;

                li {
                    @include center;
                    list-style-type: none;
                    margin-right: 40px;

                    &:hover {
                        border-bottom: solid;
                        border-color: $secondary;
                        

                    }
                
                    a {
                        font-size: 1.2rem;
                        
                        i {
                            margin-right: 2px;

                        }
                        
                    }
        
                    h1 {
                        font-size: 2rem;
                    }
        
                }
    
            }

        }

    }

}