header {

    nav {

        div {

            ul {

                li {
                    list-style-type: none;
                
                    a {
                        font-size: 1.2rem;
                        
                    }
        
                    h1 {
                        font-size: 2rem;
                    }
        
                }
    
            }

        }

    }

}