main {
    background-color: $altern;

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;

        nav {
            width: 1000px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            div {
                
                a {
                    font-size: 1.2rem;
                    
                }

                a:first-child {
                    margin-right: 15px;
                }

                h1 {
                    font-size: 2rem;
                }

            }

        }

    }

    section {        
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;

        div {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;

            h2, p {
                color: $accent;
            }
            
            p {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }   

        }

    }

}

.sec-about-me {
    background-color: $accent;

    

}