section {        
    @include center;
    height: auto;
    width: 100%;

    .main__container {
        @include center;
        flex-direction: column;
        margin-top: 30px;
        max-width: 1600px;
        width: 85%;

        img {
            margin-top: 50px;
            width: 372px;
            height: 374px;
    
        }
    
        .text__container {
            h2 {
                span {
                    color: $secondary;
    
                }
    
            }
    
            p {
    
    
            }
    
            button {
                margin-top: 15px;
                height: 50px;
                width: 100px;
                font-family: 'Montserrat';
                font-weight: 600;
                color: $primary;
                border: none;
                border-radius: 15px;
                background-color: $secondary;
    
            }
    
        }

    }

}