section {        
    @include center;
    height: auto;
    width: 100%;
    margin-bottom: 50px;

    .main__container {
        @include center;
        flex-direction: column;
        margin-top: 30px;
        max-width: 1600px;
        width: 85%;

        img {
            margin-top: 50px;
            width: 90%;
            height: 90%;

        }

        .text__container {
            display: flex;
            align-items: center;
            flex-direction: column;

            h2 {
                text-align: center;
                font-size: clamp(1.5rem, 3.5vw, 3rem);

                span {
                    color: $secondary;

                }

            }

            p {
                font-size: clamp(1rem, 3.5vw, 2rem);
                text-align: center;
            }

            button {
                margin-top: 15px;
                height: 50px;
                width: 120px;
                @include center;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: $primary;
                font-size: 1.3rem;
                border: none;
                border-radius: 15px;
                background-color: $secondary;

                box-shadow: 0 5px 15px rgba(0, 0, 0, .20);
                transition: .2s;

                &:hover {
                    transition: .2s;
                    box-shadow: 0 10px 15px rgba(0, 0, 0, .20);

                }

            }

        }

    }

}

    // Section 2

.section__2 {
    display: flex;
    flex-direction: column;

    .title__container {
        width: 100%;
        height: 100px;
        @include center;

        h2 {
            color: $secondary;
            text-decoration: underline;
        }

    }

    .para__container {

        p {
            font-size: 2rem;

        }

    }

}